In [1]:
import mysql.connector
import pandas as pd

In [2]:
conn = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
)
cursor = conn.cursor()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)

In [ ]:
# Membuat database baru
create_database_query = f"CREATE DATABASE{pizza_sales}"
cursor.execute(create_database_query)

cursor.close()
conn.close()

In [ ]:
conn = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'pizza_sales'
)
cursor = conn.cursor()

In [ ]:
create_table_pizza_order = '''CREATE TABLE pizza_order (
    order_details_id nvarchar(10) PRIMARY KEY, 
    order_id nvarchar(10) NOT NULL, 
    pizza_id nvarchar(10) NOT NULL, 
    quantity INT, 
    order_date DATE,
    order_time TIME, 
    unit_price FLOAT 
)'''
cursor.execute(create_table_pizza_order)
conn.commit()

In [ ]:
create_table_pizza_name = '''CREATE TABLE pizza_name (
    pizza_id varchar(10) NOT NULL, 
    pizza_size varchar(3), 
    pizza_name varchar(100)
)'''
cursor.execute(create_table_pizza_name)
conn.commit()

In [ ]:
create_table_pizza_category = '''CREATE TABLE pizza_category (
    pizza_name varchar(100), 
    pizza_category varchar(10), 
    pizza_ingredients varchar(1000)
)'''
cursor.execute(create_table_pizza_category)
conn.commit()